	<% @page_title = application_name + " Search Results" %>

        <% extra_head_content << render_opensearch_response_metadata.html_safe %>
  
<div class="pagination">
	<%= render 'results_pagination' %>
		<%= render 'sort_and_per_page' %>
				 <%= render 'list_gallery_toggle'%>
			
</div>

  <div id="documents" class="<% index_results_class %>">
  	<%= index_results_box %>
	</div>


	<% sidebar_items << capture do %>
	  <%= render :partial=>'facets' %>
	<% end %>

  <%= render 'results_pagination' %>

  <%= render :partial=>'solr_request' %>

