<p id="notice"><%= notice %></p>

<p>
  <b>Ingest Start:</b>
  <%= @zotero_ingest.ingest_start %>
</p>

<p>
  <b>Ingest End:</b>
  <%= @zotero_ingest.ingest_end %>
</p>

<p>
  <b>Index Start:</b>
  <%= @zotero_ingest.index_start %>
</p>

<p>
  <b>Index End:</b>
  <%= @zotero_ingest.index_end %>
</p>

<p>
  <b>Check Start:</b>
  <%= @zotero_ingest.check_start %>
</p>

<p>
  <b>Check End:</b>
  <%= @zotero_ingest.check_end %>
</p>


<p>
  <b>Message:</b>
  <%= @zotero_ingest.message %>
</p>

<p>
  <b>Filename:</b>
  <%= @zotero_ingest.filename %>
</p>


<%= link_to 'Back', zotero_ingests_path %>
