<p id="notice"><%= notice %></p>

<p>
  <b>Start date:</b>
  <%= @zotero_ingest.start_date %>
</p>

<p>
  <b>Finish date:</b>
  <%= @zotero_ingest.finish_date %>
</p>

<p>
  <b>Message:</b>
  <%= @zotero_ingest.message %>
</p>

<p>
  <b>Filename:</b>
  <%= @zotero_ingest.filename %>
</p>


<%= link_to 'Back', zotero_ingests_path %>
